* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f8f8;
    height: 100px;
    width: 100%;
}

.navbar h1 {
    font-size: 50px;
}

.logo {
    margin-left: 80px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.image {
    display: flex;
}

.back {
    background-image: url("./image.jpg");
    height: 1000px;
    width: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    background-attachment: fixed;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.text h1 {
    color: white;
    font-size: 70px;
    margin: 20px 90px 30px 160px;
}

.text span {
    font-size: 30px;
    margin: 0px 160px;
}

.text p {
    font-size: 20px;
    margin: 30px 160px;
}

.text button {
    margin: 30px 160px;
    padding: 10px 50px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.text button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.img {}

.img img {
    height: 1000px;
    width: 1100px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    font-size: 25px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* .hero img {
    height: 300px;
    width: 300px;
} */

.hero h3 {
    margin-top: 20px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.hero p {
    margin-top: 10px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 250px; */
    color: gray;
}

.hero1 .mian {
    font-size: 80px;
    line-height: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
}

.hero2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero2 button {
    margin: 50px 50px;
    padding: 10px 50px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero2 button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.hero-content {
    display: flex;
}

.right {
    height: 800px;
    width: 1300px;
    background-color: rgb(246, 245, 232);
}

.text1 {
    padding: 200px 0px 0px 350px;
}

.text1 h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.text1 p {
    font-size: 20px;
    word-spacing: 6px;
    letter-spacing: 1px;
    line-height: 35px;
}

.but button {
    margin: 50px 350px;
    padding: 10px 50px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.but button:hover {
    background-color: rgba(0, 0, 0, 0.591);
    color: rgb(255, 255, 255);
}

.left img {
    width: 600px;
    height: 800px;
}

.content {
    display: flex;
}

.content-1 {
    background-image: url('./image5.jpg');
    height: 800px;
    width: 800px;
    background-size: cover;
    background-position: center;
    /* color: white; */
    display: flex;
    /* background-attachment: fixed; */
    position: relative;
}

.content-2 {
    height: 800px;
    width: 1100px;
    background-color: rgb(195, 196, 178);

}

.text2 {
    margin: 250px 0px 0px 400px;
}

.text2 h1 {
    font-size: 40px;
}

.text2 p {
    font-size: 20px;
    margin-top: 50px;
    line-height: 35px;
    word-spacing: 10px;
}

.article {
    align-items: center;
    justify-content: center;
    text-align: center;
    word-spacing: 5px;
}

.article h1 {
    font-size: 50px;
    margin: 150px 0px 30px 0px;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 80px;
    gap: 150px;
}

.sidebar1 {}

.sidebar1 img {
    height: 280px;
    width: 300px;
}

.hero3 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero3 button {
    margin: 100px 50px;
    padding: 10px 50px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.hero3 button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.grid {
    display: flex;
    /* background-attachment: fixed; */
}

.grid1 {
    background-color: rgb(195, 196, 178);
    height: 700px;
    width: 800px;
}

.grid1 p {
    font-size: 50px;
    margin: 250px 10px 70px 120px;
}

.grid1 span {
    margin-left: 120px;
}

.grid2 {
    background-image: url("./image10.jpg");
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.footer {
    background-color: rgb(62, 67, 45);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    gap: 650px;
}

.footer-content {
    justify-content: center;
}

.footer-content h1 {
    font-size: 50px;
    margin: 100px 0px 40px 100px;
    cursor: pointer;
}

.footer-content1 {
    display: flex;
    margin-left: 100px;
    gap: 60px;

}

.footer-content1 p {
    cursor: pointer;
    line-height: 40px;
}

.footer-links {
    line-height: 50px;
}

.footer-links h2 {
    margin-top: 110px;
}

.footer-links input[type="email"] {
    background-color: rgb(62, 67, 45);
    width: 60%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid white;
}

.footer-links button {
    border: 1px solid white;
    padding: 10px 70px;
    cursor: pointer;
    background-color: rgb(62, 67, 45);
    color: white;
}
.footer1{
    display: flex;
    gap: 20px;
}
.footer1 span{
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
}

.newsletter-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}